/*//////////////////////////////////////////////// Base Style //////////////////////////////////////////////// */

body {
    background-color: black;
    color: white;
    font-family: "Josefin Sans";
    font-weight: 400;
    font-style: normal;
    margin: 0;

}
h1,
h2 {
    font-family: "Tangerine";
    font-weight: 800;
    font-style: normal;
    font-size: 3em;
}
h2{
    margin: 1em;
    text-decoration: underline;
}
p{
    font-size: 1.4em;
}
a{
    text-decoration: none;
}
.my-button{
    text-decoration: none;
    display: flex;
    border: none;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(184, 150, 0);
    font-family: "Josefin Sans";
    font-size: 1.5em;
    text-align: center;
    color: white;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 2em;
    cursor: pointer;
}
.my-button:hover{
    background-color:  rgb(255, 208, 0);
    box-shadow: 0px 0px 15px rgb(253, 255, 208);
    color: rgb(52, 47, 0);
}
.my-button:active{
    background-color:  rgb(116, 94, 0);
}

/*//////////////////////////////////////////////// Web Page Logo //////////////////////////////////////////////// */
.page-logo-img {
    width: 20%;
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    padding-bottom: 1em;
}

/*//////////////////////////////////////////////// Navigation Bar //////////////////////////////////////////////// */

.navigation-bar {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}
.navigation-bar-items {
    text-decoration: none;
    color: rgb(255, 219, 60);
    font-size: 1.5em;
    padding-left: 2em;
    padding-right: 2em;
}
.navigation-bar-items:hover {
    text-decoration: underline;
    color: rgb(255, 229, 112);
    text-shadow: 1px 1px 15px rgb(253, 255, 208);
}
.navigation-bar-items:active {
    margin: 1em;
    color: rgb(255, 255, 255);
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
}

/*//////////////////////////////////////////////// Page Head //////////////////////////////////////////////// */

.page-head {
    background-image: url(resources/cam-lens-bg-pic.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 10%;
    font-size: 150%;
    font-weight: 900;
    text-shadow: 0px 0px 10px rgb(255, 234, 0);
}
#motto {
    font-weight: 500;
    font-style: italic;
}

/*//////////////////////////////////////////////// Gallery preview section //////////////////////////////////////////////// */

.gallery-cards-area{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
    grid-gap: 20px;
    padding: 1em;
}
.gallery-card{
    background-color: rgb(72, 69, 43);
    border-radius: 1.5em;
    margin: 1em;
    padding: 1em;
    text-align: center;
}
.gallery-card:hover{
    background-color: rgb(118, 113, 71);
}
.gallery-card>img{
    width: 100%;
    border-radius: 1.5em;
    transition: all 0.4s;
}
.gallery-card>img:hover{
    transform: scale(1.1);
}

/*//////////////////////////////////////////////// About Me Preview Section //////////////////////////////////////////////// */

.about-me-preview-area{
    display: flex;
    border: none;
    margin: 1em;
    padding: 1em;
    align-items: center;
    background-color: rgb(72, 69, 43);
    border-radius: 2em;
}
.about-me-preview-area> img{
    width: 30%;
    float: left;
    border-radius: 100%;
    padding: 1em;
}

/*////////////////////////////////////////////////Packages & Prices Section  preview section //////////////////////////////////////////////// */


.packages-prices-preview-cards-area{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
    grid-gap: 4em;
    padding: 1em;
    align-items: stretch;
    justify-content: center;
}
.packages-prices-card{
    background-color: rgb(118, 113, 71);
    border-radius: 1.5em;
    margin: 1em;
    padding: 1em;
    text-align: center;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    height: 100%; 
}
.packages-prices-card:hover{
    background-color: rgb(152, 146, 92);
}
.select-package-button{
    background-color: rgb(206, 134, 0);
    box-shadow: 0px 0px 15px rgb(79, 78, 0);
}
.select-package-button:hover{
    background-color:  rgb(255, 166, 0);
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    color: rgb(52, 47, 0);
}
.select-package-button:active{
    background-color:  rgb(116, 94, 0);
}
.packages-prices-card>h3{
    font-size: 1.75em;
    text-shadow: 1px 1px 15px rgb(0, 0, 0);
}

/*////////////////////////////////////////////////Subscribe Section //////////////////////////////////////////////// */

.subscribe-info{
    margin: 2em;
}
.subscribe-form{
    border: none;
    margin: 1em;
    padding: 1em;
    background-color: rgb(72, 69, 43);
    border-radius: 2em;
    text-align: center;
}
.sub-email-input{
    border-radius: 0.5em;
    font-size: 1.75em;
    border: none;
    padding: 0.5em;
    margin: 0.5em;
    font-family: "Josefin Sans";
}
.sub-button{
    text-decoration: none;
    border: none;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(206, 134, 0);
    font-family: "Josefin Sans";
    font-size: 1.5em;
    text-align: center;
    color: white;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 2em;
    cursor: pointer;
}
.sub-button:hover{
    background-color:  rgb(255, 166, 0);
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    color: rgb(52, 47, 0);
}

/*////////////////////////////////////////////////Footer Section //////////////////////////////////////////////// */

footer{
    background-color: rgb(60, 60, 60);
    margin-top: 5em;
    padding: 1em;
    text-align: center;
}