
/* *************************************************************************** */
/****************************** All ******************************/
/* *************************************************************************** */
body{
    margin: 0 auto;
}

.area{
    font-size: 2em;
    color:#ffffff;
    transition: all 0.25s linear;
}

.area:hover{
    box-shadow: rgb(103, 103, 103) 0px 0px 25px 5px;
}



/* *************************************************************************** */
/****************************** Navigation Bar ******************************/
/* *************************************************************************** */
.nav-bar{
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 0.7em;
}

@media only screen and (max-width: 600px){
    .nav-bar{
        font-size: 0.5em;
        padding: 0;
    }
}

.push-contact-us{
    margin-left: auto;
}

li{
    padding: 25px;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}


/* *************************************************************************** */
/****************************** Cover ******************************/
/* *************************************************************************** */
.container{
    display: flex;
    height: 75vh;
    align-items: center;
    justify-content: center;
}



/* *************************************************************************** */
/****************************** Grid area ******************************/
/* *************************************************************************** */
.grid{
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(200px,1fr)) ;
    grid-gap: 25px;
text-align: center;
}

.box{
    cursor: pointer;
    background-color: rgb(116, 0, 139);
    padding: 50px;
    margin: 20px;
    text-align: center;
    border-radius: 50px;
}



/* *************************************************************************** */
/****************************** Footer ******************************/
/* *************************************************************************** */
footer{
    text-align: center;
    padding: 10px;
}



/* *************************************************************************** */
/****************************** Color Backgrounds ******************************/
/* *************************************************************************** */
.green {
    background: #56B870; /* Old browsers */
    background: -moz-linear-gradient(top, #56B870 0%, #a5c956 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56B870), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #56B870 0%,#a5c956 100%); /* IE10+ */
    background: linear-gradient(top, #56B870 0%,#a5c956 100%); /* W3C */
}

.red {
    background: #C655BE; /* Old browsers */
    background: -moz-linear-gradient(top, #C655BE 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C655BE), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(top, #C655BE 0%,#cf0404 100%); /* W3C */
}

.blue {
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}

.yellow {
    background: #F3AAAA; /* Old browsers */
    background: -moz-linear-gradient(top, #F3AAAA 0%, #febf04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3AAAA), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* IE10+ */
    background: linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* W3C */
}

